<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script type=text/javascript>
            $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        </script>
        <script type="text/javascript" src="{{url_for('static', filename='jquery.min.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static', filename='pubsub.js')}}"></script>        
        <script type="text/javascript" src="{{url_for('static', filename='Deck.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static', filename='Pagination.js')}}"></script>
        {% block header %} {% endblock %}
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
    <footer>
        {% block footer %} {% endblock %}
    </footer>
</html>