<!DOCTYPE html>

<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script type=text/javascript>
            $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        </script>

        <!--Loads JSON data for question set in a global js variable named json_data -->
        <script type=text/javascript>
            QUESTIONS = {};

            var json_data;
            var questions = [];
            $(document).ready(function(){
                var json_promise = $.getJSON($SCRIPT_ROOT + '/get_json/testq_1.json');
                
                json_promise.done(function(json) {
                    json_data = json;
                    console.log(json_data);

                    var i = 0;
                    for(var q in json_data){
                        questions[i] = json_data[q];
                        i++;
                    }
                    console.log(questions[0]);
                    $('#question_header').text(questions[0].title);
                    $('#question').text(questions[0].question);

                });

                json_promise.fail(function(){
                    alert('failed to load flashcard');
                });


                console.log(json_data);
            });
        </script>
    </head>
    <body>
        <h1 id="question_header"></h1>
        <p id="question"></p>
        <button class="change" name="previous">Previous</button>
        <button class="change" id="next" name="next">Next</button>
        <form name="check_ans" id="check_ans">
            <input type="text" name="answer" id="answer" placeholder="Answer">
            <button type="submit"> Submit </button>
        </form>
    </body>  

    <footer>
        <script type="text/javascript" src="{{url_for('static', filename='load_test.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static', filename='check_answer.js')}}"></script>
    </footer>
</html>