{% extends "template.html" %}

{% block header %}
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='index.css')}}">
    <script type="text/javascript" src="{{url_for('static', filename='navbar.js')}}"></script>
{% endblock %}

{% block content %}
    <input type="checkbox" id="navigation">
    <label for="navigation">
        <i class="fa fa-bars fa-2x" aria-hidden="true" id="hamburger-menu"></i>
    </label>
    <nav class="navbar-push-left">
        <ul id="menu-options">
            <li>Login</li>
            <li>Decks</li>
        </ul>
    </nav>

    <section id="main">
        <div class="hero-image">
            <img class="logo" src="{{url_for('static', filename='images/resource.png')}}"></img>
            <p> This is a description </p>
        </div>
        <div class="hero-buttons">
            <button>BROWSE</button>
            <button>SIGN UP</button>
        </div>
    </section>

    <section id="pitch">
        <div id="pitch-wrapper">
            <h1 class="pitch-explanation">WHY IT WORKS</h1>
            <p class="pitch-explanation-text">This is why it works.  Isn't it fascinating how ti works?</p>
            
            <h2 class="pitch-testimonial-header">TESTIMONIALS</h2>
            <div class="pitch-testimonial">
                <img class="testimonial-face"></img>
                <div class="pitch-testimonial-text">
                    <h4>This is my really rather unnecessarily long and complicated testimonial<br>isn't it neat to look at?</h4>
                    <p>---Author</p>
                </div>
            </div>
            <div class="pitch-testimonial reverse-testimonial">
                <img class="testimonial-face"></img>
                <div class="pitch-testimonial-text">
                    <h4>This is my testimonial</h4>
                    <p>---Author</p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}


{% block footer %}
    <p>Contact: </p>
    <p>About me</p>
{% endblock %}